/* weatherForecast.css */

.weather-container-2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px; /* Fixed width */
    margin: 2% auto;
    display: grid; /* Use CSS grid */
    grid-template-columns: 1fr; /* Single column layout */
    grid-gap: 10px; /* Gap between grid items */
    background-color: rgba(0, 0, 0, 0.25);
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: white;
}
  
.weather-box {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
}

.weather-box img {
    width: 60px; /* Adjust the width of the weather icon */
    height: 50px; /* Adjust the height of the weather icon */
}

@media screen and (min-width: 390px){
    .weather-container-2{
        margin-left: 0;
        padding-right: 225px;
    }
    .weather-box {
        width: 100%;
        display: flex;
        align-items: center;
        padding-right: 50px;
    }
      
    .weather-box img {
        width: 200px;
        height: 150px; /* Adjust the width of the image */
        margin-right: 20px; /* Add spacing between the image and paragraphs */
    }

    .stays {
        font-size: 2em;
    }

    .pop {
        opacity: -1; /* Initially hide pop-up elements */
        transition: opacity 0.3s ease; /* Add transition for smooth visibility change */
    }

    #more-info-btn {


        background-color: #282828; /* Green background */
        border: none; /* Remove border */
        color: white; /* White text color */
        padding: 10px 20px; /* Add padding */
        text-align: center; /* Center text */
        text-decoration: none; /* Remove underline */
        display: inline-block; /* Make it inline-block */
        font-size: 35px; /* Set font size */
        margin-top: 10px; /* Add some margin at the top */
        cursor: pointer; /* Add cursor pointer */
        border-radius: 15px; /* Add border radius */
        width: auto; /* Adjust width automatically based on content */
      }
      
      #more-info-btn:hover {
        background-color: #45a049; /* Darker green background on hover */
      }
}