/* weatherForecast.css */

.weather-container-2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 600px; /* Fixed width */
    margin: 2% auto;
    display: grid; /* Use CSS grid */
    grid-template-columns: 1fr; /* Single column layout */
    grid-gap: 10px; /* Gap between grid items */
    background-color: rgba(0, 0, 0, 0.25);
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    color: white;
}
  
.weather-box {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
}

.weather-box img {
    width: 60px; /* Adjust the width of the weather icon */
    height: 50px; /* Adjust the height of the weather icon */
}

@media screen and (min-width: 390px){
    .weather-container-2{
        margin-left: 0;
        padding-right: 225px;
    }
    .weather-box {
        width: 100%;
        display: flex;
        align-items: center;
        padding-right: 50px;
    }
      
    .weather-box img {
        width: 200px;
        height: 150px; /* Adjust the width of the image */
        margin-right: 20px; /* Add spacing between the image and paragraphs */
    }

    .stays {
        font-size: 2em;
    }

    .popup {
        opacity: 0; /* Initially hide pop-up elements */
        transition: opacity 0.3s ease; /* Add transition for smooth visibility change */
    }
}